.page_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 4rem;
}

.page_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  width: 28%;
}

.title_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  text-align: left;
}

.title{
  font-size: 5.2rem;
  font-weight: 700;
  color: var(--tertiary-color);
}