.sidebar_container {
  height: 100%;
  width: 20%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 16%;
  gap: 28px;
  border-bottom: 4px solid var(--tertiary-color);
}

.logo {
  border-radius: 16px;
  width: 80px;
  height: 84px;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--tertiary-color);
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--white-color);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}