.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 80px;
}

.titles_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 10px;
  padding-top: 40px;
}

.title {
  font-size: 5.2rem;
  font-weight: 700;
  color: var(--tertiary-color);
}

.subtitle {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--background-color-light);
}

.employees_list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.card_avatar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.card_name {
  margin-top: 20px;
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--background-color);
}

.card_position{
  margin-top: 10px;
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--tertiary-color);
}

.card_description {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--background-color-light);
  padding-bottom: 20px;
}